@charset "utf-8";
/* Main.js CSS - main.css */
#main{
    pointer-events: all;
    text-align: center;
}

.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.bgimg > img{
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sqwrap{
    width: 100%;
    display: flex;
    position: absolute;
    top: 75%;
    /* top: 50%; */
    left: 50%;
    z-index: 2;
    /* transform: translateX(-50%); */
    transform: translate(-50%,-50%);
    gap: 0 17px;
    opacity: 1;
}
.sqbx{
    position: absolute;
    width: 50%;
    height: 30vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    overflow: hidden;
}

.sqbx div{
    top: 0;
    position: absolute;
    width: 30px;
    height: 100px;
    border: 1px solid #ff3901;
    transition: 0.3s;
    z-index: 3333;
    pointer-events: all;
    background-color: transparent;
}

.sqwrap div:nth-child(6),
.sqwrap div:nth-child(12){
    transform: translate(-50%,50%);
}

.sqwrap div:nth-child(7),
.sqwrap div:nth-child(11){
    transform: translate(-50%,30%);
}

.sqwrap div:nth-child(8),
.sqwrap div:nth-child(10){
    transform: translate(-50%,20%);
}

.sqwrap div:nth-child(9){
    transform: translate(-50%,0%);
}

.sqwrap a{
    color: #fff;
    opacity: 0;
}

.txtcolor{
    color: #ff3901;
}

.clicktxt{
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.arrowwrap{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30%;
    width: 100%;
    padding: 0 6.5%;
    margin: 0 auto;
    cursor: pointer;
    opacity: 1;
    font-size: 10vw;
    box-sizing: border-box;
}

.sqbx div {
    transform:  translate(-50%,50%);
}

.sqbx div:nth-child(1){ left: -70%;}
.sqbx div:nth-child(2){ left: -55%;}
.sqbx div:nth-child(3){ left: -40%;}
.sqbx div:nth-child(4){ left: -25%;}
.sqbx div:nth-child(5){ left: -10%;}
.sqbx div:nth-child(6){ left: 5%;}
.sqbx div:nth-child(7){ left: 20%;}
.sqbx div:nth-child(8){ left: 35%;}
/* 얘가 가운데 */
.sqbx div:nth-child(9){ left: 50%; background-color: #ff3901;}
.sqbx div:nth-child(10){ left: 65%;}
.sqbx div:nth-child(11){ left: 80%;}
.sqbx div:nth-child(12){ left: 95%;}
.sqbx div:nth-child(13){ left: 110%;}
.sqbx div:nth-child(14){ left: 125%;}
.sqbx div:nth-child(15){ left: 140%;}
.sqbx div:nth-child(16){ left: 155%;}


@media screen and (max-width : 800px) {
    .sqwrap {
        width: 165%;
    }
}