@charset "utf-8";
/* Photo.js CSS - photo.css */

#photo{
    padding: 1.5% 3%;
}

.photowrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photowrap div{
    cursor: pointer;
    width: 32.33%;
    padding-top: 1.5%;
}

.photobx img{
    display: block;
    width: 100%;
    height: 100%;
}