@charset "utf-8";
/* Studio.js CSS - studio.css */

#studio{
    padding: 5%;
    padding-top: 8%;
}

.studio_posterwrap{
    display: flex;
    flex-wrap: wrap;
}

.studio_posterbx{
    position: relative;
    width: 50%;
    border-top: 0.5px solid #ff3901;
    box-sizing: border-box;
}

.studio_posterbx:nth-child(odd){
    border-right: 0.5px solid #ff3901;
    border-left: 0.5px solid #ff3901;
}

.studio_posterbx:nth-child(even){
    border-right: 0.5px solid #ff3901;
}

/* .studio_posterbx:last-child{
    border-bottom: 0.5px solid #ff3901;
} */

.studio_posterbx>div{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.studio_posterbx img{
    display: block;
    width: 100%;
    height: 100%;
}

.gongtong{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.studio_hoverbx{
    opacity: 0;
    transition: .4s;
}

.studio_hoverbx:hover{
    opacity: 1;
}

.qwer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.studio_hoverbx{
    overflow: hidden;
    background-color: #ff3901;
    color: #fff;
}

.studio_hoverbx_txt{
    padding: 5%;
}

.studio_hoverbx_txt h4, .studio_hoverbx_txt p{
    font-weight: normal;
    font-size: 12px;
}

.studio_hoverbx_txt h4{
    font-size: 14px;
    border-bottom: 0.5px solid #fff;
}
