@charset "utf-8";
/* Main.js CSS - main.css */
#main{
    pointer-events: all;
}

.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.bgimg > img{
    /* opacity: 0; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

#sqwrap{
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.sqwrap{
    border: 1px dashed hotpink;
}

.sqwrap div{
    border: 1px solid #ff3901;
    box-sizing: border-box;
    width: 6.7%;
}

.sqwrap div:nth-child(1){

}

.sqwrap div:nth-child(15){
}

.sqwrap div:nth-child(2){

}

.sqwrap div:nth-child(14){
}

.sqwrap div:nth-child(3){

}

.sqwrap div:nth-child(13){
}

.sqwrap div:nth-child(4){

}

.sqwrap div:nth-child(12){
}

.sqwrap div:nth-child(5){

}

.sqwrap div:nth-child(11){
}

.sqwrap div:nth-child(6){

}

.sqwrap div:nth-child(10){
}

.sqwrap div:nth-child(7){

}

.sqwrap div:nth-child(9){
}

.sqwrap div:nth-child(8){
}

.txtcolor{
    color: #ff3901;
}

.clicktxt{
    text-align: center;
    /* opacity: 0; */
}

.arrowwrap{
    display: flex;
    justify-content: space-around;
    /* opacity: 0; */
    cursor: pointer;
}

/* 
.sqwrap div:nth-child(1){ left: 0%;}
.sqwrap div:nth-child(2){ left: 6.25%;}
.sqwrap div:nth-child(3){ left: 12.5%;}
.sqwrap div:nth-child(4){ left: 18.75%;}
.sqwrap div:nth-child(5){ left: 25%;}
.sqwrap div:nth-child(6){ left: 31.25%;}
.sqwrap div:nth-child(7){ left: 37.5%;}
.sqwrap div:nth-child(8){ left: 43.75%;}
.sqwrap div:nth-child(9){ left: 50%;}
.sqwrap div:nth-child(10){ left: 56.25%;}
.sqwrap div:nth-child(11){ left: 62.5%;}
.sqwrap div:nth-child(12){ left: 68.75%;}
.sqwrap div:nth-child(13){ left: 75%;}
.sqwrap div:nth-child(14){ left: 81.25%;}
.sqwrap div:nth-child(15){ left: 90%;} */

/* .sqwrap div:nth-child(1){ left: 0%;}
.sqwrap div:nth-child(2){ left: 6.7%;}
.sqwrap div:nth-child(3){ left: 13.4%;}
.sqwrap div:nth-child(4){ left: 20.1%;}
.sqwrap div:nth-child(5){ left: 26.8%;}
.sqwrap div:nth-child(6){ left: 33.5%;}
.sqwrap div:nth-child(7){ left: 40.2%;}
.sqwrap div:nth-child(8){ left: 46.9%;}
.sqwrap div:nth-child(9){ left: 53.6%;}
.sqwrap div:nth-child(10){ left: 60.3%;}
.sqwrap div:nth-child(11){ left: 67%;}
.sqwrap div:nth-child(12){ left: 73.7%;}
.sqwrap div:nth-child(13){ left: 80.4%;}
.sqwrap div:nth-child(14){ left: 87.1%;}
.sqwrap div:nth-child(15){ left: 93.8%;} */